<path_to_local_repo>
<head>
<title>
Wedding Website
</title>
<style>
.Wedding
   {
      color:red; 
	    }
        
.Welcome
   {
      color:blue;
	    }
.Content
   {
      color:blue; 
      background-color:lightyellow;
         }

      
</style>
</head>

<body>
<h1 class="Wedding">
Wedding Website
</h1>
<h1 class="Welcome">
Welcome
</h1>
<p class="Content">
The wedding of Jane and Tom
</p>
<img src="https://joyhopelovepeace.com/wp-content/uploads/2014/10/weddings.jpg" alt="flowers" width=200px/>
<form>
<p>
Submit any special dietary needs
</p>
<input type=text>
<input type=submit>
</form>
<form>
<p>
Food options
</p>
<input type=radio>
<label>beef</label>
<input type=radio>
<label>fish</label>
</form>
</body>